<a href="https://colab.research.google.com/github/modabbir24/DL_demos/blob/main/ANN_using_wt_intialisation_tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [4]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [5]:
X = df.iloc[:, 3:13]
y = df.iloc[:, 13]

In [6]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [7]:
geography.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [8]:
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

In [9]:
## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

In [10]:
X.head()

   CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0          619    France  Female   42  ...        101348.88        0      0     0
1          608     Spain  Female   41  ...        112542.58        0      1     0
2          502    France  Female   42  ...        113931.57        0      0     0
3          699    France  Female   39  ...         93826.63        0      0     0
4          850     Spain  Female   43  ...         79084.10        0      1     0

[5 rows x 13 columns]

In [11]:
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [12]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
!pip install keras==2.3.1 
!pip install tensorflow==1.14.0

Requirement already satisfied: keras==2.3.1 in /usr/local/lib/python3.6/dist-packages (2.3.1)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from keras==2.3.1) (1.1.2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras==2.3.1) (3.13)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.6/dist-packages (from keras==2.3.1) (1.4.1)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from keras==2.3.1) (1.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras==2.3.1) (2.10.0)
Requirement already satisfied: numpy>=1.9.1 in /usr/local/lib/python3.6/dist-packages (from keras==2.3.1) (1.19.4)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from keras==2.3.1) (1.15.0)
Requirement already satisfied: tensorflow==1.14.0 in /usr/local/lib/python3.6/dist-packages (1.14.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.15.0)
Requirement already satisfied: tensorflow-estimator<1.15.0rc0,>=1.14.0rc0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.14.0)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (3.12.4)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.32.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.2.0)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.3.3)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.10.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.1.2)
Requirement already satisfied: tensorboard<1.15.0,>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.14.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.1.0)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.8.1)
Requirement already satisfied: numpy<2.0,>=1.14.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.19.4)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.12.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (0.36.2)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.14.0) (1.0.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.6.1->tensorflow==1.14.0) (50.3.2)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow==1.14.0) (3.3.3)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow==1.14.0) (1.0.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.6->tensorflow==1.14.0) (2.10.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<1.15.0,>=1.14.0->tensorflow==1.14.0) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<1.15.0,>=1.14.0->tensorflow==1.14.0) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<1.15.0,>=1.14.0->tensorflow==1.14.0) (3.4.0)

In [14]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

Using TensorFlow backend.
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [15]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu',input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu'))
# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  app.launch_new_instance()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 176us/step - loss: 0.5875 - accuracy: 0.7449 - val_loss: 0.5167 - val_accuracy: 0.7891
Epoch 2/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.4918 - accuracy: 0.7977 - val_loss: 0.4846 - val_accuracy: 0.7970
Epoch 3/100
5359/5359 [==============================] - 1s 142us/step - loss: 0.4672 - accuracy: 0.8015 - val_loss: 0.4697 - val_accuracy: 0.8001
Epoch 4/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.4531 - accuracy: 0.8078 - val_loss: 0.4607 - val_accuracy: 0.7974
Epoch 5/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.4435 - accuracy: 0.8108 - val_loss: 0.4528 - val_accuracy: 0.8039
Epoch 6/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.4369 - accuracy: 0.8160 - val_loss: 0.4471 - val_accuracy: 0.8111
Epoch 7/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.4322 - accuracy: 0.8194 - val_loss: 0.4425 - val_accuracy: 0.8103
Epoch 8/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.4276 - accuracy: 0.8218 - val_loss: 0.4384 - val_accuracy: 0.8129
Epoch 9/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.4239 - accuracy: 0.8255 - val_loss: 0.4348 - val_accuracy: 0.8167
Epoch 10/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.4208 - accuracy: 0.8270 - val_loss: 0.4327 - val_accuracy: 0.8156
Epoch 11/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.4181 - accuracy: 0.8281 - val_loss: 0.4290 - val_accuracy: 0.8179
Epoch 12/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.4149 - accuracy: 0.8294 - val_loss: 0.4267 - val_accuracy: 0.8179
Epoch 13/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.4126 - accuracy: 0.8309 - val_loss: 0.4241 - val_accuracy: 0.8205
Epoch 14/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.4099 - accuracy: 0.8289 - val_loss: 0.4220 - val_accuracy: 0.8217
Epoch 15/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.4075 - accuracy: 0.8304 - val_loss: 0.4195 - val_accuracy: 0.8194
Epoch 16/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.4048 - accuracy: 0.8293 - val_loss: 0.4170 - val_accuracy: 0.8167
Epoch 17/100
5359/5359 [==============================] - 1s 147us/step - loss: 0.4017 - accuracy: 0.8302 - val_loss: 0.4140 - val_accuracy: 0.8183
Epoch 18/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3985 - accuracy: 0.8326 - val_loss: 0.4107 - val_accuracy: 0.8213
Epoch 19/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3949 - accuracy: 0.8358 - val_loss: 0.4077 - val_accuracy: 0.8236
Epoch 20/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3910 - accuracy: 0.8369 - val_loss: 0.4046 - val_accuracy: 0.8266
Epoch 21/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3867 - accuracy: 0.8395 - val_loss: 0.4011 - val_accuracy: 0.8307
Epoch 22/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3821 - accuracy: 0.8408 - val_loss: 0.3966 - val_accuracy: 0.8311
Epoch 23/100
5359/5359 [==============================] - 1s 144us/step - loss: 0.3768 - accuracy: 0.8449 - val_loss: 0.3918 - val_accuracy: 0.8349
Epoch 24/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3711 - accuracy: 0.8502 - val_loss: 0.3855 - val_accuracy: 0.8364
Epoch 25/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3656 - accuracy: 0.8505 - val_loss: 0.3810 - val_accuracy: 0.8417
Epoch 26/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3606 - accuracy: 0.8524 - val_loss: 0.3769 - val_accuracy: 0.8425
Epoch 27/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3560 - accuracy: 0.8541 - val_loss: 0.3728 - val_accuracy: 0.8455
Epoch 28/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3523 - accuracy: 0.8558 - val_loss: 0.3700 - val_accuracy: 0.8444
Epoch 29/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3491 - accuracy: 0.8565 - val_loss: 0.3678 - val_accuracy: 0.8470
Epoch 30/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3466 - accuracy: 0.8580 - val_loss: 0.3659 - val_accuracy: 0.8485
Epoch 31/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3444 - accuracy: 0.8602 - val_loss: 0.3654 - val_accuracy: 0.8519
Epoch 32/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3431 - accuracy: 0.8586 - val_loss: 0.3641 - val_accuracy: 0.8523
Epoch 33/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3418 - accuracy: 0.8574 - val_loss: 0.3627 - val_accuracy: 0.8519
Epoch 34/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3405 - accuracy: 0.8615 - val_loss: 0.3619 - val_accuracy: 0.8531
Epoch 35/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3393 - accuracy: 0.8597 - val_loss: 0.3613 - val_accuracy: 0.8508
Epoch 36/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3384 - accuracy: 0.8599 - val_loss: 0.3606 - val_accuracy: 0.8531
Epoch 37/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3379 - accuracy: 0.8608 - val_loss: 0.3602 - val_accuracy: 0.8550
Epoch 38/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3372 - accuracy: 0.8614 - val_loss: 0.3598 - val_accuracy: 0.8519
Epoch 39/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3362 - accuracy: 0.8606 - val_loss: 0.3597 - val_accuracy: 0.8554
Epoch 40/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3361 - accuracy: 0.8619 - val_loss: 0.3589 - val_accuracy: 0.8569
Epoch 41/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3357 - accuracy: 0.8621 - val_loss: 0.3583 - val_accuracy: 0.8561
Epoch 42/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3352 - accuracy: 0.8628 - val_loss: 0.3584 - val_accuracy: 0.8565
Epoch 43/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3349 - accuracy: 0.8617 - val_loss: 0.3585 - val_accuracy: 0.8546
Epoch 44/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3343 - accuracy: 0.8617 - val_loss: 0.3581 - val_accuracy: 0.8546
Epoch 45/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3341 - accuracy: 0.8627 - val_loss: 0.3581 - val_accuracy: 0.8565
Epoch 46/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3338 - accuracy: 0.8617 - val_loss: 0.3580 - val_accuracy: 0.8550
Epoch 47/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3334 - accuracy: 0.8619 - val_loss: 0.3578 - val_accuracy: 0.8576
Epoch 48/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3331 - accuracy: 0.8617 - val_loss: 0.3576 - val_accuracy: 0.8561
Epoch 49/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3330 - accuracy: 0.8617 - val_loss: 0.3574 - val_accuracy: 0.8557
Epoch 50/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3328 - accuracy: 0.8617 - val_loss: 0.3574 - val_accuracy: 0.8561
Epoch 51/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3324 - accuracy: 0.8634 - val_loss: 0.3575 - val_accuracy: 0.8538
Epoch 52/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3325 - accuracy: 0.8619 - val_loss: 0.3574 - val_accuracy: 0.8550
Epoch 53/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3320 - accuracy: 0.8621 - val_loss: 0.3567 - val_accuracy: 0.8550
Epoch 54/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3319 - accuracy: 0.8638 - val_loss: 0.3568 - val_accuracy: 0.8569
Epoch 55/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3318 - accuracy: 0.8630 - val_loss: 0.3572 - val_accuracy: 0.8546
Epoch 56/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3316 - accuracy: 0.8636 - val_loss: 0.3572 - val_accuracy: 0.8565
Epoch 57/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3314 - accuracy: 0.8612 - val_loss: 0.3568 - val_accuracy: 0.8561
Epoch 58/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3314 - accuracy: 0.8617 - val_loss: 0.3561 - val_accuracy: 0.8580
Epoch 59/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3312 - accuracy: 0.8653 - val_loss: 0.3568 - val_accuracy: 0.8538
Epoch 60/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3313 - accuracy: 0.8640 - val_loss: 0.3564 - val_accuracy: 0.8546
Epoch 61/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3309 - accuracy: 0.8628 - val_loss: 0.3559 - val_accuracy: 0.8569
Epoch 62/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3310 - accuracy: 0.8628 - val_loss: 0.3559 - val_accuracy: 0.8557
Epoch 63/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3307 - accuracy: 0.8636 - val_loss: 0.3558 - val_accuracy: 0.8569
Epoch 64/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3307 - accuracy: 0.8627 - val_loss: 0.3556 - val_accuracy: 0.8542
Epoch 65/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3305 - accuracy: 0.8628 - val_loss: 0.3558 - val_accuracy: 0.8531
Epoch 66/100
5359/5359 [==============================] - 1s 150us/step - loss: 0.3306 - accuracy: 0.8632 - val_loss: 0.3556 - val_accuracy: 0.8557
Epoch 67/100
5359/5359 [==============================] - 1s 166us/step - loss: 0.3304 - accuracy: 0.8621 - val_loss: 0.3550 - val_accuracy: 0.8535
Epoch 68/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3302 - accuracy: 0.8628 - val_loss: 0.3555 - val_accuracy: 0.8546
Epoch 69/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3303 - accuracy: 0.8625 - val_loss: 0.3554 - val_accuracy: 0.8523
Epoch 70/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3301 - accuracy: 0.8634 - val_loss: 0.3555 - val_accuracy: 0.8542
Epoch 71/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3301 - accuracy: 0.8632 - val_loss: 0.3547 - val_accuracy: 0.8565
Epoch 72/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3299 - accuracy: 0.8628 - val_loss: 0.3550 - val_accuracy: 0.8546
Epoch 73/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3298 - accuracy: 0.8640 - val_loss: 0.3548 - val_accuracy: 0.8573
Epoch 74/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3299 - accuracy: 0.8636 - val_loss: 0.3551 - val_accuracy: 0.8554
Epoch 75/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3297 - accuracy: 0.8638 - val_loss: 0.3545 - val_accuracy: 0.8569
Epoch 76/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3296 - accuracy: 0.8649 - val_loss: 0.3547 - val_accuracy: 0.8569
Epoch 77/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3296 - accuracy: 0.8621 - val_loss: 0.3545 - val_accuracy: 0.8554
Epoch 78/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3292 - accuracy: 0.8647 - val_loss: 0.3545 - val_accuracy: 0.8554
Epoch 79/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3293 - accuracy: 0.8643 - val_loss: 0.3536 - val_accuracy: 0.8565
Epoch 80/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3292 - accuracy: 0.8627 - val_loss: 0.3540 - val_accuracy: 0.8561
Epoch 81/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3290 - accuracy: 0.8640 - val_loss: 0.3543 - val_accuracy: 0.8573
Epoch 82/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3291 - accuracy: 0.8636 - val_loss: 0.3540 - val_accuracy: 0.8557
Epoch 83/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3288 - accuracy: 0.8630 - val_loss: 0.3538 - val_accuracy: 0.8569
Epoch 84/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3288 - accuracy: 0.8615 - val_loss: 0.3537 - val_accuracy: 0.8573
Epoch 85/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3290 - accuracy: 0.8612 - val_loss: 0.3533 - val_accuracy: 0.8561
Epoch 86/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3285 - accuracy: 0.8627 - val_loss: 0.3538 - val_accuracy: 0.8576
Epoch 87/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3288 - accuracy: 0.8628 - val_loss: 0.3532 - val_accuracy: 0.8554
Epoch 88/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3286 - accuracy: 0.8627 - val_loss: 0.3535 - val_accuracy: 0.8561
Epoch 89/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3285 - accuracy: 0.8632 - val_loss: 0.3539 - val_accuracy: 0.8546
Epoch 90/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3289 - accuracy: 0.8623 - val_loss: 0.3535 - val_accuracy: 0.8554
Epoch 91/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3285 - accuracy: 0.8619 - val_loss: 0.3535 - val_accuracy: 0.8554
Epoch 92/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3284 - accuracy: 0.8634 - val_loss: 0.3535 - val_accuracy: 0.8557
Epoch 93/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3283 - accuracy: 0.8614 - val_loss: 0.3538 - val_accuracy: 0.8554
Epoch 94/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3281 - accuracy: 0.8614 - val_loss: 0.3543 - val_accuracy: 0.8554
Epoch 95/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3286 - accuracy: 0.8630 - val_loss: 0.3535 - val_accuracy: 0.8557
Epoch 96/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3280 - accuracy: 0.8615 - val_loss: 0.3531 - val_accuracy: 0.8538
Epoch 97/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3282 - accuracy: 0.8617 - val_loss: 0.3537 - val_accuracy: 0.8554
Epoch 98/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3283 - accuracy: 0.8643 - val_loss: 0.3539 - val_accuracy: 0.8554
Epoch 99/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3281 - accuracy: 0.8617 - val_loss: 0.3541 - val_accuracy: 0.8550
Epoch 100/100
5359/5359 [==============================] - 1s 164us/step - loss: 0.3282 - accuracy: 0.8636 - val_loss: 0.3535 - val_accuracy: 0.8542

In [19]:
# list all data in history

print(model_history.history.keys())
# summarize history for accuracy
#plt.plot(model_history.history['acc'])
plt.plot(model_history.history['val_acc'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

dict_keys(['val_loss', 'val_accuracy', 'loss', 'accuracy'])

KeyError: ignored

In [20]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)


cm

array([[1516,   79],
       [ 195,  210]])

In [21]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [22]:
score

0.863